@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    color:#000;
 }
 
 *::selection{
    background-color: #000;
    color:#ffcc0d;
 }
 
 *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: #ffcc0d;
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
 }
 
 body{
    overflow: hidden;
    transition: .2s linear !important;
 }
 
 body.active{
   padding-left: 35rem;
}

 section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
   text-align: center;
}

.heading{
   margin-bottom: 3rem;
   text-align: center;
}

.heading span{
   text-transform: uppercase;
   font-size: 6.5rem;
   border-bottom: .5rem solid;
}
.message{
  position: sticky;
  top:2rem;
  max-width: 1200px;
  margin:0 auto;
  background-color: #ffcc0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem;
  font-size: 2rem;
}
.message i{
  cursor: pointer;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  padding:1rem 3rem;
  border:.2rem solid #000;
  font-size: 2rem;
  background: none;
}
.btn:hover{
  background-color: #000;
  color:#fff;
}


.header{
   position: fixed;
   top: 0; left: -35rem;
   height: 100vh;
   background-color: #fff;
   border-right: .5rem solid #000;
   width: 35rem;
   padding: 3rem 2rem;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow:column ;
   transition: .2s linear !important;
   z-index: 1000;
}

.header .logo{
  text-transform: uppercase;
  border-bottom: .5rem solid;
  font-weight: bolder;
  font-size: 4.5rem;
}

.header .navbar{
  width: 100%;
}

.header .navbar a{
   display: block;
   font-size: 2.5rem;
   padding: 1.5rem;
   margin: .5rem;
}

.header .navbar a.active, 
.header .navbar a:hover{
   background-color: #ffcc0d;
  
}

.header .follow a{
   font-size: 3rem;
   margin: 0.1rem;
   cursor: pointer;
   transition:  .6s linear !important;
}

.header .follow a:hover{
   transform: rotate(360deg);
}

#menu-btn{
   position: absolute;
   top: 0;
   right: -5.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 5rem;
   cursor: pointer;
   background-color: #000;
   color:#fff;
}

.header.active{
   left: -2rem;
}

.home{
   display: flex;
   align-items:center;
   flex-wrap: wrap;
   gap: 2rem;
   min-height: 100vh;
}
.home .image{
   flex: 1 1 40rem;
}

.home .image img{
   height: 65rem;
   padding: 2rem;
   border: .5rem solid #000;
}

.home .content{
   flex: 1 1 40rem;
}

.home .content h3{
   text-transform: uppercase;
   font-size: 5rem;
   margin-bottom: .5rem;
}

.home .content span{
   display: inline-block;
   padding: 1rem 2rem;
   background-color: #ffcc0d;
   font-size: 2.5rem;
}
.home .content p{
   font-size: 1.8rem;
   line-height: 2;
   padding: 1rem 0;
}

.about .biography p{
   margin: 2rem auto;
   max-width: 70rem;
   line-height: 2;
   font-size: 1.8rem;
}

.about .biography .bio{
   margin: 1rem 0;
}

.about .biography .bio h3,
.about .skills .skill h3{
   padding: 1rem 2rem;
   display: inline-block;
   margin: 1rem;
   background-color: #eee;
   border: .2rem solid #000;
   word-break: break-all;
   font-size: 2.5rem;
   font-weight: normal;
   text-transform: none;
}

.about .biography .bio h3 span{
   font-weight: lighter;
}

.about .skills{
   margin: 3rem 0;
}

.portfolio .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   grid-gap: 2rem;
   align-items: flex-start;
}

.portfolio .box-container .box img{
   height: 30rem;
   width: 100%;
   object-fit: cover;
}

.portfolio .box-container .box h3{
   margin: 1rem 0;
   font-size: 2.5rem;
   font-weight: normal;
}

.portfolio .box-container .box span{
   font-size: 1.8rem;
}



.contact form{
   max-width: 70rem;
   margin: 0 auto;
}

.contact form .box{
   width: 100%;
   padding: 1.4rem;
   font-size: 2rem;
   text-transform: none;
   border: .2rem solid #000;
   margin: 1rem 0;
}

.contact form textarea{
   height: 20rem;
   resize: none;
}
.contact form .flex{
   display: flex;
   flex-wrap:wrap ;
   justify-content: space-between;
}

.contact form .flex .box{
   width: 45%; 
}

.contact .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   grid-gap: 1.5rem;
   align-items: flex-start;
   margin-top: 3rem;
}

.contact .box-container .box{
   padding: 3rem 2rem;
   border: .2rem solid #000;
}